# Local Environment & Secrets 
.env
.env.*
*.cookie

# Python Virtual Environments & Cache
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.eggs/
dist/
build/
*.egg-info/

# Terraform State & Lock Files 
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info

# IDEs & Editor Temp Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
